html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #87cefa;
  line-height: 1.6;
}

header {
  background-color: #87cefa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.3s;
}

.banner {
  width: 100%;
  margin-left: 15px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #87cefa;
  padding: 5px;
}

nav li {
  position: relative;
}

nav li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #323232;
  padding: 11px 20px;
  text-decoration: none;
  font-size: 17px;
  margin-left: -5px;
}

nav li:not(:last-child):not(:nth-last-child(2))::after {
  content: "";
  position: absolute;
  top: 15%;
  right: -1px;
  height: 20px;
  width: 1px;
  background-color: #222831;
}

nav li a:hover,
button:hover {
  background-color: #f7d87c;
  transition: background-color 0.4s ease;
  margin-left: 1px;
}

button[type="submit"] {
  padding: 4px;
  background-color: #ffce33;
  color: #222831;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

input[type="text"] {
  padding: 2px;
  border: 4px solid #ffce33;
  border-radius: 10px;
  width: 200px;
  font-size: 15px;
  transition: border-color 0.4s ease;
}

input[type="text"]:hover {
  border-color: #fee778;
}

mark {
  background-color: #ffeb3b;
  color: #000;
  padding: 0.2em;
  border-radius: 0.3em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

section {
  padding: 20px 40px;
  border-radius: 0.9em;
  background-color: #f6faff;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h1,
section h2 {
  color: #131313;
  filter: drop-shadow(2px -2px 2px lightskyblue);
}

section p {
  margin-top: 15px;
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.hidden {
  top: -100px;
}

footer {
  background-color: #00274ce3;
  padding-bottom: 5px;
  font-size: 15px;
}

.copyright {
  margin-top: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  filter: drop-shadow(5px 5px 5px #111);
  user-select: none;
  text-align: center;
  color: #fff;
}

.linkedin-link {
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.social-icons a img {
  filter: drop-shadow(6px 6px 6px #111);
  margin-top: 15px;
  margin-left: 23px;
  width: 56px;
  height: 54px;
  text-align: left;
}

.arrow-icons a img {
  filter: drop-shadow(6px 6px 6px #111);
  margin-top: 4px;
  width: 66px;
  height: 70px;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}

.arrow-icons a img:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.social-icons a img:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ffce33;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fcce38bd;
}
